h1 {
  text-align:center;
  width: 500px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 80%;
  max-width: 430px;
  box-shadow: 1px 1px 5px black;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}



.text {
  text-align: center;
}

@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

.animated-background_text {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  position: relative;
  display: inline-block;
  width: 250px;
  height: 20px;
  margin: 5px;
  
}

.animated-background_image{
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 5px;
 
}

div {
  height: 100px
}

.text {
  display: flex;
  flex-direction: column;
}

.flexbox {
  display: flex;
}